{
  "presets": ["@babel/react", "@babel/typescript"],
  "plugins": [
    "@babel/proposal-nullish-coalescing-operator",
    "@babel/proposal-object-rest-spread",
    "@babel/proposal-optional-chaining"
  ],
  "ignore": ["src/**/*.d.ts"]
}
